In [101]:
import pandas as pd
dataset = pd.read_csv('/content/dataset_.csv')
df= pd.DataFrame(dataset)

In [102]:
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

Функция вывода строк подряд из любой заданой позиции датафрейма

In [103]:
def displayRows (df , start ,end):
  rez = df.iloc[start:end]
  return rez
displayRows (df , 100 , 110)

     Rank                                    Name  ... Other_Sales  Global_Sales
100   101  The Legend of Zelda: Twilight Princess  ...        0.70          7.31
101   102               Call of Duty: Black Ops 3  ...        0.67          7.30
102   103                              Just Dance  ...        0.73          7.27
103   104                           Battlefield 3  ...        1.10          7.23
104   105              Need for Speed Underground  ...        1.02          7.20
105   106                                Tekken 3  ...        0.29          7.16
106   107               Crash Bandicoot 3: Warped  ...        0.28          7.13
107   108                 Super Smash Bros. Melee  ...        0.22          7.07
108   109                            Mario Kart 8  ...        0.49          6.96
109   110                               Fallout 4  ...        1.10          6.96

[10 rows x 11 columns]

In [104]:
len(df['Genre'].unique())

12

In [105]:
genre_array = df.Genre.unique()
print (genre_array)

['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy']

Выборка датафрейма по жанру

In [106]:
sports_df = df ['Genre']. isin (['Sports'])
df [sports_df]

        Rank                           Name  ... Other_Sales  Global_Sales
0          1                     Wii Sports  ...        8.46         82.74
3          4              Wii Sports Resort  ...        2.96         33.00
13        14                        Wii Fit  ...        2.15         22.72
14        15                   Wii Fit Plus  ...        1.79         22.00
77        78                        FIFA 16  ...        1.26          8.49
...      ...                            ...  ...         ...           ...
16576  16579              Rugby Challenge 3  ...        0.00          0.01
16578  16581  Outdoors Unleashed: Africa 3D  ...        0.00          0.01
16579  16582              PGA European Tour  ...        0.00          0.01
16581  16584                      Fit & Fun  ...        0.00          0.01
16587  16590       Mezase!! Tsuri Master DS  ...        0.00          0.01

[2346 rows x 11 columns]

In [107]:
platform_df = df ['Genre']. isin (['Platform'])
df [platform_df]

        Rank  ... Global_Sales
1          2  ...        40.24
6          7  ...        30.01
8          9  ...        28.62
18        19  ...        20.61
21        22  ...        18.14
...      ...  ...          ...
16498  16501  ...         0.01
16562  16565  ...         0.01
16565  16568  ...         0.01
16593  16596  ...         0.01
16597  16600  ...         0.01

[886 rows x 11 columns]

In [108]:
racing_df = df ['Genre']. isin (['Racing'])
df [racing_df]

        Rank  ... Global_Sales
2          3  ...        35.82
11        12  ...        23.42
28        29  ...        14.98
42        43  ...        12.21
47        48  ...        11.66
...      ...  ...          ...
16530  16533  ...         0.01
16543  16546  ...         0.01
16573  16576  ...         0.01
16574  16577  ...         0.01
16595  16598  ...         0.01

[1249 rows x 11 columns]

In [109]:
roleplay_df = df ['Genre']. isin (['Role-Playing'])
df [roleplay_df]

        Rank  ... Global_Sales
4          5  ...        31.37
12        13  ...        23.10
20        21  ...        18.36
25        26  ...        15.85
26        27  ...        15.32
...      ...  ...          ...
16520  16523  ...         0.01
16525  16528  ...         0.01
16553  16556  ...         0.01
16556  16559  ...         0.01
16590  16593  ...         0.01

[1488 rows x 11 columns]

In [110]:
puzzle_df = df ['Genre']. isin (['Puzzle'])
df [puzzle_df]

        Rank  ... Global_Sales
5          6  ...        30.26
27        28  ...        15.30
89        90  ...         7.81
155      156  ...         5.58
170      171  ...         5.34
...      ...  ...          ...
16547  16550  ...         0.01
16568  16571  ...         0.01
16584  16587  ...         0.01
16588  16591  ...         0.01
16596  16599  ...         0.01

[582 rows x 11 columns]

In [111]:
misc_df = df ['Genre']. isin (['Misc'])
df [misc_df]

        Rank  ... Global_Sales
7          8  ...        29.02
15        16  ...        21.82
19        20  ...        20.22
60        61  ...        10.26
68        69  ...         9.52
...      ...  ...          ...
16516  16519  ...         0.01
16519  16522  ...         0.01
16523  16526  ...         0.01
16536  16539  ...         0.01
16542  16545  ...         0.01

[1739 rows x 11 columns]

In [112]:
shooter_df = df ['Genre']. isin (['Shooter'])
df [shooter_df]

        Rank  ... Global_Sales
9         10  ...        28.31
29        30  ...        14.76
31        32  ...        14.64
33        34  ...        14.24
34        35  ...        14.03
...      ...  ...          ...
16501  16504  ...         0.01
16569  16572  ...         0.01
16577  16580  ...         0.01
16585  16588  ...         0.01
16594  16597  ...         0.01

[1310 rows x 11 columns]

In [113]:
simulation_df = df ['Genre']. isin (['Simulation'])
df [simulation_df]

        Rank                                  Name  ... Other_Sales  Global_Sales
10        11                            Nintendogs  ...        2.75         24.76
41        42           Animal Crossing: Wild World  ...        0.88         12.27
73        74             Animal Crossing: New Leaf  ...        0.41          9.09
83        84                            The Sims 3  ...        0.71          8.11
153      154                          Cooking Mama  ...        0.58          5.72
...      ...                                   ...  ...         ...           ...
16480  16483                   Muv-Luv Alternative  ...        0.00          0.01
16511  16514                        Pony Friends 2  ...        0.00          0.01
16514  16517  National Geographic Panda (JP sales)  ...        0.00          0.01
16570  16573         Farming 2017 - The Simulation  ...        0.00          0.01
16592  16595                              Plushees  ...        0.00          0.01

[867 rows x 11 columns]

In [114]:
action_df = df ['Genre']. isin (['Action'])
df [action_df]

        Rank  ... Global_Sales
16        17  ...        21.40
17        18  ...        20.81
23        24  ...        16.38
24        25  ...        16.15
38        39  ...        13.10
...      ...  ...          ...
16564  16567  ...         0.01
16567  16570  ...         0.01
16582  16585  ...         0.01
16583  16586  ...         0.01
16589  16592  ...         0.01

[3316 rows x 11 columns]

In [115]:
fighting_df = df ['Genre']. isin (['Fighting'])
df [fighting_df]

        Rank  ... Global_Sales
39        40  ...        13.04
97        98  ...         7.45
105      106  ...         7.16
107      108  ...         7.07
136      137  ...         6.30
...      ...  ...          ...
16482  16485  ...         0.01
16506  16509  ...         0.01
16541  16544  ...         0.01
16552  16555  ...         0.01
16563  16566  ...         0.01

[848 rows x 11 columns]

In [116]:
adventure_df = df ['Genre']. isin (['Adventure'])
df [adventure_df]

        Rank                                Name  ... Other_Sales  Global_Sales
50        51  Super Mario Land 2: 6 Golden Coins  ...        0.29         11.18
158      159                    Assassin's Creed  ...        0.55          5.55
218      219                    Assassin's Creed  ...        0.83          4.83
251      252     Zelda II: The Adventure of Link  ...        0.08          4.38
400      401          Rugrats: Search For Reptar  ...        0.18          3.34
...      ...                                 ...  ...         ...           ...
16572  16575    Scarlett: Nichijou no Kyoukaisen  ...        0.00          0.01
16575  16578               Neo Angelique Special  ...        0.00          0.01
16580  16583                           Real Rode  ...        0.00          0.01
16586  16589      Secret Files 2: Puritas Cordis  ...        0.00          0.01
16591  16594                 Myst IV: Revelation  ...        0.00          0.01

[1286 rows x 11 columns]

In [117]:
strategy_df = df ['Genre']. isin (['Strategy'])
df [strategy_df]

        Rank                                   Name  ... Other_Sales  Global_Sales
165      166                        Pokemon Stadium  ...        0.09          5.45
204      205                           Warzone 2100  ...        0.33          5.01
217      218         StarCraft II: Wings of Liberty  ...        0.59          4.83
267      268         Warcraft II: Tides of Darkness  ...        0.23          4.21
335      336              Pokémon Trading Card Game  ...        0.10          3.70
...      ...                                    ...  ...         ...           ...
16510  16513                        Palais de Reine  ...        0.00          0.01
16532  16535                STORM: Frontline Nation  ...        0.00          0.01
16539  16542              Spore Galactic Adventures  ...        0.00          0.01
16555  16558  Codename: Panzers Complete Collection  ...        0.00          0.01
16566  16569                         End of Nations  ...        0.00          0.01

[681 rows x 11 columns]

Сортировка датафреймов по возрастанию в категории Year

In [118]:
sortedsports_df = df[sports_df].sort_values(by='Year')
sortedsports_df

        Rank                               Name  ... Other_Sales  Global_Sales
4025    4027                         Ice Hockey  ...        0.01          0.49
6537    6539                RealSports Football  ...        0.00          0.26
7371    7373                RealSports Baseball  ...        0.00          0.21
9495    9497              RealSports Volleyball  ...        0.00          0.13
7904    7906               International Soccer  ...        0.00          0.19
...      ...                                ...  ...         ...           ...
15261  15264                       Mario Tennis  ...        0.00          0.02
15579  15582         Cabela's Alaskan Adventure  ...        0.00          0.02
15739  15742              Football Manager 2007  ...        0.00          0.02
15865  15868  PDC World Championship Darts 2008  ...        0.00          0.02
16057  16060  PDC World Championship Darts 2008  ...        0.00          0.01

[2346 rows x 11 columns]

In [119]:
sortedplatform_df = df[platform_df].sort_values(by='Year')
sortedplatform_df

        Rank                  Name  ... Other_Sales  Global_Sales
2143    2145    Donkey Kong Junior  ...        0.01          0.97
239      240              Pitfall!  ...        0.05          4.50
1306    1308           Donkey Kong  ...        0.02          1.46
1851    1853           Jungle Hunt  ...        0.01          1.10
1905    1907                 Joust  ...        0.01          1.08
...      ...                   ...  ...         ...           ...
12666  12668  Flip's Twisted World  ...        0.00          0.06
12929  12931           Drill Dozer  ...        0.00          0.05
14160  14162            Sabre Wulf  ...        0.00          0.03
15208  15211        Steal Princess  ...        0.00          0.02
16194  16197                Shorts  ...        0.00          0.01

[886 rows x 11 columns]

In [120]:
sortedracing_df = df[racing_df].sort_values(by='Year')
sortedracing_df

        Rank  ... Global_Sales
4139    4141  ...         0.48
4894    4896  ...         0.39
1705    1707  ...         1.18
1233    1235  ...         1.52
6296    6298  ...         0.27
...      ...  ...          ...
14925  14928  ...         0.02
15476  15479  ...         0.02
15811  15814  ...         0.02
16058  16061  ...         0.01
16307  16310  ...         0.01

[1249 rows x 11 columns]

In [121]:
sortedroleplay_df = df[roleplay_df].sort_values(by='Year')
sortedroleplay_df

        Rank  ... Global_Sales
611      612  ...         2.52
1588    1590  ...         1.25
2466    2468  ...         0.84
602      603  ...         2.56
312      313  ...         3.87
...      ...  ...          ...
14273  14276  ...         0.03
14849  14852  ...         0.03
15652  15655  ...         0.02
16246  16249  ...         0.01
16427  16430  ...         0.01

[1488 rows x 11 columns]

In [122]:
sortedpuzzle_df = df[puzzle_df].sort_values(by='Year')
sortedpuzzle_df

        Rank  ... Global_Sales
3403    3405  ...         0.59
1106    1108  ...         1.65
3447    3449  ...         0.58
89        90  ...         7.81
1115    1117  ...         1.64
...      ...  ...          ...
9251    9253  ...         0.14
9522    9524  ...         0.13
11108  11110  ...         0.09
12248  12250  ...         0.06
13675  13677  ...         0.04

[582 rows x 11 columns]

In [123]:
sortedmisc_df = df[misc_df].sort_values(by='Year')
sortedmisc_df

        Rank  ... Global_Sales
6317    6319  ...         0.27
1766    1768  ...         1.15
6896    6898  ...         0.24
1969    1971  ...         1.05
2406    2408  ...         0.87
...      ...  ...          ...
15606  15609  ...         0.02
15697  15700  ...         0.02
15878  15881  ...         0.02
15915  15918  ...         0.02
16198  16201  ...         0.01

[1739 rows x 11 columns]

In [124]:
sortedshooter_df = df[shooter_df].sort_values(by='Year')
sortedshooter_df

        Rank                         Name  ... Other_Sales  Global_Sales
544      545              Missile Command  ...        0.03          2.76
258      259                    Asteroids  ...        0.05          4.31
5400    5402                     Carnival  ...        0.00          0.34
1429    1431                    Centipede  ...        0.01          1.36
2806    2808                      Berzerk  ...        0.01          0.73
...      ...                          ...  ...         ...           ...
14999  15002  Wii de Asobu: Metroid Prime  ...        0.00          0.02
15197  15200                        Saint  ...        0.00          0.02
15717  15720              Without Warning  ...        0.00          0.02
16229  16232  Brothers in Arms: Furious 4  ...        0.00          0.01
16327  16330                    Inversion  ...        0.00          0.01

[1310 rows x 11 columns]

In [125]:
sortedsimulation_df = df[simulation_df].sort_values(by='Year')
sortedsimulation_df

        Rank  ... Global_Sales
4346    4348  ...         0.45
14335  14338  ...         0.03
14507  14510  ...         0.03
1792    1794  ...         1.14
8575    8577  ...         0.16
...      ...  ...          ...
12487  12489  ...         0.06
12709  12711  ...         0.06
14312  14315  ...         0.03
14876  14879  ...         0.03
15900  15903  ...         0.02

[867 rows x 11 columns]

In [126]:
sortedaction_df = df[action_df].sort_values(by='Year')
sortedaction_df

        Rank                              Name  ... Other_Sales  Global_Sales
5366    5368                           Freeway  ...         0.0          0.34
4908    4910                       Laser Blast  ...         0.0          0.39
5800    5802                        Astroblast  ...         0.0          0.31
6021    6023                         Fast Food  ...         0.0          0.29
8459    8461                      Armor Ambush  ...         0.0          0.17
...      ...                               ...  ...         ...           ...
14377  14380  Fullmetal Alchemist: Brotherhood  ...         0.0          0.03
14696  14699                 Super Duper Sumos  ...         0.0          0.03
15876  15879   Dinotopia: The Sunstone Odyssey  ...         0.0          0.02
16065  16068      Aquaman: Battle for Atlantis  ...         0.0          0.01
16493  16496                        The Smurfs  ...         0.0          0.01

[3316 rows x 11 columns]

In [127]:
sortedfighting_df = df[fighting_df].sort_values(by='Year')
sortedfighting_df

        Rank  ... Global_Sales
2669    2671  ...         0.77
1973    1975  ...         1.05
465      466  ...         3.02
647      648  ...         2.40
4944    4946  ...         0.39
...      ...  ...          ...
10979  10981  ...         0.09
14046  14048  ...         0.04
14522  14525  ...         0.03
14676  14679  ...         0.03
14855  14858  ...         0.03

[848 rows x 11 columns]

In [128]:
sortedadventure_df = df[adventure_df].sort_values(by='Year')
sortedadventure_df

        Rank  ... Global_Sales
4780    4782  ...         0.40
251      252  ...         4.38
987      989  ...         1.76
4097    4099  ...         0.48
50        51  ...        11.18
...      ...  ...          ...
11455  11457  ...         0.08
13672  13674  ...         0.04
14942  14945  ...         0.02
15316  15319  ...         0.02
16366  16369  ...         0.01

[1286 rows x 11 columns]

In [129]:
sortedstrategy_df = df[strategy_df].sort_values(by='Year')
sortedstrategy_df

        Rank  ... Global_Sales
6623    6625  ...         0.25
8037    8039  ...         0.18
8085    8087  ...         0.18
5541    5543  ...         0.33
6088    6090  ...         0.29
...      ...  ...          ...
10045  10047  ...         0.11
13156  13158  ...         0.05
13477  13479  ...         0.04
14056  14058  ...         0.04
16191  16194  ...         0.01

[681 rows x 11 columns]

Переиндексация датафрейма с сохранением порядка

In [130]:
finalsports_df = sortedsports_df.reset_index(drop=True)
finalsports_df

       Rank                               Name  ... Other_Sales  Global_Sales
0      4027                         Ice Hockey  ...        0.01          0.49
1      6539                RealSports Football  ...        0.00          0.26
2      7373                RealSports Baseball  ...        0.00          0.21
3      9497              RealSports Volleyball  ...        0.00          0.13
4      7906               International Soccer  ...        0.00          0.19
...     ...                                ...  ...         ...           ...
2341  15264                       Mario Tennis  ...        0.00          0.02
2342  15582         Cabela's Alaskan Adventure  ...        0.00          0.02
2343  15742              Football Manager 2007  ...        0.00          0.02
2344  15868  PDC World Championship Darts 2008  ...        0.00          0.02
2345  16060  PDC World Championship Darts 2008  ...        0.00          0.01

[2346 rows x 11 columns]

Сохранение результата в CSV

In [131]:
finalsports_df.to_csv('sports.csv')