In [37]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame ( {'x_1':['A','B','C']*3,
                      'y_1':['D','E','F']*3,
                      'z':np.random.randint(0,20,9)})
df1

  x_1 y_1   z
0   A   D  18
1   B   E  14
2   C   F  17
3   A   D  16
4   B   E   7
5   C   F  19
6   A   D  11
7   B   E  14
8   C   F   3

In [38]:
df2 = pd.DataFrame ( {'x_2':['A','B','C']*4,
                      'y_2':['D','E',]*6,
                      'z':np.random.randint(0,20,12)})
df2

   x_2 y_2   z
0    A   D  12
1    B   E   8
2    C   D  10
3    A   E   3
4    B   D   1
5    C   E  15
6    A   D  18
7    B   E  18
8    C   D   3
9    A   E  16
10   B   D  12
11   C   E   9

In [39]:
df3 = pd.merge (df1, df2,how ='inner',left_on = ['x_1','y_1'],right_on = ['x_2','y_2'],suffixes=['_left','_right'])

In [40]:
df3

   x_1 y_1  z_left x_2 y_2  z_right
0    A   D      18   A   D       12
1    A   D      18   A   D       18
2    A   D      16   A   D       12
3    A   D      16   A   D       18
4    A   D      11   A   D       12
5    A   D      11   A   D       18
6    B   E      14   B   E        8
7    B   E      14   B   E       18
8    B   E       7   B   E        8
9    B   E       7   B   E       18
10   B   E      14   B   E        8
11   B   E      14   B   E       18

In [41]:
df4 = pd.merge(df1, df2, 
                how='outer',
                left_on=['x_1', 'y_1'],
                right_on=['x_2', 'y_2'],
                suffixes=['_left', '_right'])

In [42]:
df4

    x_1  y_1  z_left  x_2  y_2  z_right
0     A    D    18.0    A    D     12.0
1     A    D    18.0    A    D     18.0
2     A    D    16.0    A    D     12.0
3     A    D    16.0    A    D     18.0
4     A    D    11.0    A    D     12.0
5     A    D    11.0    A    D     18.0
6     B    E    14.0    B    E      8.0
7     B    E    14.0    B    E     18.0
8     B    E     7.0    B    E      8.0
9     B    E     7.0    B    E     18.0
10    B    E    14.0    B    E      8.0
11    B    E    14.0    B    E     18.0
12    C    F    17.0  NaN  NaN      NaN
13    C    F    19.0  NaN  NaN      NaN
14    C    F     3.0  NaN  NaN      NaN
15  NaN  NaN     NaN    C    D     10.0
16  NaN  NaN     NaN    C    D      3.0
17  NaN  NaN     NaN    A    E      3.0
18  NaN  NaN     NaN    A    E     16.0
19  NaN  NaN     NaN    B    D      1.0
20  NaN  NaN     NaN    B    D     12.0
21  NaN  NaN     NaN    C    E     15.0
22  NaN  NaN     NaN    C    E      9.0

In [43]:
df4.fillna(0,inplace=True)

In [44]:
z_avg = (df4.z_left.add(df4.z_right,fill_value=0))/2

df4_final = df4.join(z_avg.to_frame('z_avg'))
df4_final

   x_1 y_1  z_left x_2 y_2  z_right  z_avg
0    A   D    18.0   A   D     12.0   15.0
1    A   D    18.0   A   D     18.0   18.0
2    A   D    16.0   A   D     12.0   14.0
3    A   D    16.0   A   D     18.0   17.0
4    A   D    11.0   A   D     12.0   11.5
5    A   D    11.0   A   D     18.0   14.5
6    B   E    14.0   B   E      8.0   11.0
7    B   E    14.0   B   E     18.0   16.0
8    B   E     7.0   B   E      8.0    7.5
9    B   E     7.0   B   E     18.0   12.5
10   B   E    14.0   B   E      8.0   11.0
11   B   E    14.0   B   E     18.0   16.0
12   C   F    17.0   0   0      0.0    8.5
13   C   F    19.0   0   0      0.0    9.5
14   C   F     3.0   0   0      0.0    1.5
15   0   0     0.0   C   D     10.0    5.0
16   0   0     0.0   C   D      3.0    1.5
17   0   0     0.0   A   E      3.0    1.5
18   0   0     0.0   A   E     16.0    8.0
19   0   0     0.0   B   D      1.0    0.5
20   0   0     0.0   B   D     12.0    6.0
21   0   0     0.0   C   E     15.0    7.5
22   0   0     0.0   C   E      9.0    4.5